.intro-landing-section {
  display: flex;
}
.intro-landing-section-column {
  width: 50%;

}
.intro-landing-section-column:first-child img {
  width: 100%;
  object-fit: cover;
  height: 420px;
}
.intro-landing-section-column:last-child {
  padding: 60px;
  height: 420px;
  background: linear-gradient(180deg, #FDEAA9 0%, #F98E64 100%);
}
.intro-landing-section-column:last-child h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
