.card-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: 7%;
}

.card-grid-container .card {
    width: 18rem; /* Fixed width for all cards */
    height: 22rem; /* Fixed height for all cards */
    margin: 10px; /* Add some margin to separate cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-grid-container .card img {
    height: 12rem; /* Fixed height for images */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.card-grid-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.custom-button {
    background-color: #f98e64;
    border-color: #f98e64;
}

.dropdown-menu {
    border-radius: 0;
    color: #FFFFFF;
    height: auto;
}

.dropdown-toggle {
    border-radius: 0;
    border-bottom: 2px outset #e2e2e2;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 1px solid black;
    color: #000000;
    background-color: #ffffff;
}

.dropdown-toggle:hover {
    color: #000000;
    background-color: #ffffff;
    border-bottom: 2px outset #e2e2e2;
    border-radius: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 1px solid black;
}

.dropdown-toggle:focus {
    background-color: #F98E64FF; /* Change background color to dark gray on focus */
    color: #ffffff;
    box-shadow: none; /* Remove box shadow on focus */
}