.button-group-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some margin to center vertically */
}

.button-group-container .btn-group {
    display: inline-flex;
}